php:
	date.timezone: Europe/Prague

application:
	scanDirs: false

extensions:
	mailManager: h4kuna\MailManager\DI\MailManagerExtension

mailManager:
	from: milan.matejcek@gmail.com
	templateDir: %appDir%/template # home for mail template
	globalVars:
		here: Here
